<header class="header">

  <div class="logo">
    🎓 Student Course Portal
  </div>

  <nav class="nav-links">

    <a routerLink="/" routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>

    <a routerLink="/courses" routerLinkActive="active">
      Courses
    </a>

    <a routerLink="/profile" routerLinkActive="active">
      Profile
    </a>

    <a routerLink="/enroll" routerLinkActive="active">
      Enrollment
    </a>
    <a routerLink="/add-course">Add Course</a>

    <a routerLink="/enroll-reactive" routerLinkActive="active">
      Reactive Form
    </a>

  </nav>

</header>